@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0 15px;
}

.button {
  height: 35px;
  font-family: inherit;
  font-weight: 500;
  background: linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
  color: #292929;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.button:hover {
  background: #ffd0d0;
}

.button_shuffle {
  width: 150px;
}

.button_stop {
  width: 75px;
}

.button_save {
  width: 75px;
}

.button_results {
  width: 112px;
}

.button_disabled {
  opacity: 0.2;
}

body {
  width: 100%;
  height: 100%;
  background: url(../5.jpg);
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  margin: 0 auto;
  background-color: #FFFFFF;
  user-select: none;
}

@media all and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.extra {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 10px;
}

@media all and (max-width: 414px) {
  .extra {
    gap: 50px;
  }
}

.game {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border: 3px solid #ffacac;
  border-radius: 10px;
  margin-bottom: 20px;
}

.game__box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-weight: 400;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.game__tile {
  width: 85%;
  height: 85%;
  background: linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
  color: #292929;
  border-radius: 7px;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #292929;
}

.game__tile:hover {
  background: #ffd0d0;
}

.game__congrats {
  display: none;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../5.jpg);
  background-size: cover;
  text-align: center;
  font-size: 300%;
  line-height: 130%;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 414px) {
  .game__congrats {
    font-size: 200%;
  }
}

.game-size-3 {
  width: 33.33%;
  height: 33.33%;
}

.game-size-4 {
  width: 25%;
  height: 25%;
}

.game-size-5 {
  width: 20%;
  height: 20%;
  font-size: 200%;
}

.game-size-6 {
  width: 16.66%;
  height: 16.66%;
  font-size: 200%;
}

.game-size-7 {
  width: 14.28%;
  height: 14.28%;
  font-size: 100%;
}

.game-size-8 {
  width: 12.5%;
  height: 12.5%;
  font-size: 100%;
}

.shuffling {
  pointer-events: none;
}

.sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sizes__title {
  margin-bottom: 10px;
}

.sizes__variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  row-gap: 5px;
}

.sizes__variants a {
  text-decoration: none;
  color: #ffacac;
  font-weight: 700;
  transition: 0.3s;
}

.sizes__variants a:hover {
  color: #ff7979;
}
/*# sourceMappingURL=style.css.map */