.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0 15px;
}

.button {
    height: 35px;
    font-family: inherit;
    font-weight: 500;
    background: $color-pink-gradient;
    color: $color-button-text;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
        background: darken($color-pink, 3%);
    }

    &_shuffle {
        width: 150px;
    }

    &_stop {
        width: 75px;
    }

    &_save {
        width: 75px;
    }

    &_results {
        width: 112px;
    }

    &_disabled {
        opacity: 0.2;
    }
}