.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.button {
    height: 35px;
    font-family: inherit;
    font-weight: 500;
    background-color: $color-button;
    color: $color-button-text;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;

    &:hover {
        background-color: $color-button-hover;
    }

    &_shuffle {
        width: 150px;
    }

    &_stop {
        width: 75px;
    }

    &_save {
        width: 75px;
    }

    &_results {
        width: 112px;
    }
}