.sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    &__title {
        margin-bottom: 10px;
    }

    &__variants {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 15px;
        row-gap: 5px;

        a {
            text-decoration: none;
            color: darken($color-pink, 10%);
            font-weight: 700;
            transition: 0.3s;

            &:hover {
                color: darken($color-pink, 20%);
                
            }
        }
    }
}